import { IsBoolean, IsNumber, IsString } from 'class-validator';
import { ViewEntity, ViewColumn } from 'typeorm';

<div>
  <h1>Hola {{username}},</h1>
  <p>Gracias por registrarte en {{appName}}.</p>
  <p>Por favor verifica tu cuenta haciendo clic en el siguiente enlace:</p>
  <a href="{{activationUrl}}">Activar cuenta</a>
  <p>Si no solicitaste este registro, ignora este mensaje.</p>
  <footer>
    <p>© {{currentYear}} {{appName}}. Todos los derechos reservados.</p>
  </footer>
</div>